<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
It's now <%= @game.turn.name %>'s go

<form action="/attack">
  <input type="submit" value="Attack <%= @game.player_1.name %>">
  <input type="submit" value="Attack <%= @game.player_2.name %>">
</form>

<%= @game.player_1.name %>: <%= @game.player_1.hp %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hp %>HP
